version: 2
updates:
  - commit-message:
      prefix: chore
    directory: /frontend
    open-pull-requests-limit: 20
    package-ecosystem: npm
    schedule:
      interval: monthly
    groups:
      development-dependencies:
        dependency-type: development
      production-dependencies:
        dependency-type: production
        exclude-patterns:
          - "@emotion*"
          - "@mui*"
      mui:
        patterns:
          - "@emotion*"
          - "@mui*"
    reviewers:
      - "mendersoftware/frontend-dependabot-reviewers"
  - commit-message:
      prefix: chore
    directory: /frontend
    package-ecosystem: docker
    schedule:
      interval: monthly
  - commit-message:
      prefix: chore
    directory: /frontend/tests/e2e_tests
    open-pull-requests-limit: 10
    package-ecosystem: npm
    schedule:
      interval: monthly
    groups:
      playwright:
        patterns:
          - "@playwright*"
          - "playwright*"
      e2e-test-dependencies:
        dependency-type: development
        exclude-patterns:
          - "@playwright*"
          - "playwright*"
    reviewers:
      - "mendersoftware/frontend-dependabot-reviewers"

# backend part starts here
  - commit-message:
      prefix: chore
    directory: /backend
    package-ecosystem: gomod
    schedule:
      interval: monthly
    groups:
      backend-golang-dependencies:
        patterns:
          - "*"
    reviewers:
      - "mendersoftware/backend-dependabot-reviewers"
  - commit-message:
      prefix: chore
    directories:
      - /backend
      - /backend/services/create-artifact-worker
      - /backend/services/iot-manager
    package-ecosystem: docker
    schedule:
      interval: monthly
    groups:
      backend-docker-dependencies:
        patterns:
          - "*"
    reviewers:
      - "mendersoftware/backend-dependabot-reviewers"
  - commit-message:
      prefix: chore
    directory: /backend/tests
    package-ecosystem: docker
    schedule:
      interval: monthly
    groups:
      backend-tests-docker-dependencies:
        patterns:
          - "*"
    reviewers:
      - "mendersoftware/backend-dependabot-reviewers"
  - commit-message:
      prefix: chore
    directories:
      - /backend/tests
      - /backend/services/deviceconnect/tests
      - /backend/services/iot-manager/tests
      - /backend/services/reporting/tests
      - /backend/services/deployments/tests/mock-workflows
    package-ecosystem: pip
    schedule:
      interval: monthly
    groups:
      backend-tests-python-dependencies:
        patterns:
          - "*"
    reviewers:
      - "mendersoftware/backend-dependabot-reviewers"
