# Dependency updates

go.mod @mendersoftware/backend-dependabot-reviewers
go.sum @mendersoftware/backend-dependabot-reviewers
*requirements*.txt @mendersoftware/backend-dependabot-reviewers
package.json @mendersoftware/frontend-dependabot-reviewers
package-lock.json @mendersoftware/frontend-dependabot-reviewers
docker-compose.yml @mendersoftware/backend-dependabot-reviewers
compose/docker-compose.*.yml @mendersoftware/backend-dependabot-reviewers

backend/Dockerfile* @mendersoftware/backend-dependabot-reviewers
frontend/Dockerfile* @mendersoftware/frontend-dependabot-reviewers
