compose/ @mendersoftware/backend-dependabot-reviewers @mendersoftware/frontend-dependabot-reviewers
backend/ @mendersoftware/backend-dependabot-reviewers
frontend/ @mendersoftware/frontend-dependabot-reviewers
