/*
Mender API

Combined API specification for the features of the different Mender backend services, suitable for code generation applications 

API version: 1
Contact: support@mender.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type InventoryV2alpha1ManagementAPIAPI interface {

	/*
	SearchInventoryByIdentity Search inventory by identity

	Search for inventory by device identity attribute. Supports prefix matching against 
the following values:
  - the system assigned device `id`
  - the `tags` scoped attribute with name `"name"`
  - any `identity` scoped device attribute

Please note that the `scope` of the system assigned device `id` is expected to be `identity`
when used with this endpoint.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchInventoryByIdentityRequest
	*/
	SearchInventoryByIdentity(ctx context.Context) ApiSearchInventoryByIdentityRequest

	// SearchInventoryByIdentityExecute executes the request
	//  @return []DeviceInventoryResponse
	SearchInventoryByIdentityExecute(r ApiSearchInventoryByIdentityRequest) ([]DeviceInventoryResponse, *http.Response, error)
}

// InventoryV2alpha1ManagementAPIAPIService InventoryV2alpha1ManagementAPIAPI service
type InventoryV2alpha1ManagementAPIAPIService service

type ApiSearchInventoryByIdentityRequest struct {
	ctx context.Context
	ApiService InventoryV2alpha1ManagementAPIAPI
	searchIdentityParams *SearchIdentityParams
}

// Identity search parameters
func (r ApiSearchInventoryByIdentityRequest) SearchIdentityParams(searchIdentityParams SearchIdentityParams) ApiSearchInventoryByIdentityRequest {
	r.searchIdentityParams = &searchIdentityParams
	return r
}

func (r ApiSearchInventoryByIdentityRequest) Execute() ([]DeviceInventoryResponse, *http.Response, error) {
	return r.ApiService.SearchInventoryByIdentityExecute(r)
}

/*
SearchInventoryByIdentity Search inventory by identity

Search for inventory by device identity attribute. Supports prefix matching against 
the following values:
  - the system assigned device `id`
  - the `tags` scoped attribute with name `"name"`
  - any `identity` scoped device attribute

Please note that the `scope` of the system assigned device `id` is expected to be `identity`
when used with this endpoint.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchInventoryByIdentityRequest
*/
func (a *InventoryV2alpha1ManagementAPIAPIService) SearchInventoryByIdentity(ctx context.Context) ApiSearchInventoryByIdentityRequest {
	return ApiSearchInventoryByIdentityRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []DeviceInventoryResponse
func (a *InventoryV2alpha1ManagementAPIAPIService) SearchInventoryByIdentityExecute(r ApiSearchInventoryByIdentityRequest) ([]DeviceInventoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []DeviceInventoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryV2alpha1ManagementAPIAPIService.SearchInventoryByIdentity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/management/v2alpha1/inventory/identities/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchIdentityParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
