bravado==11.0.3
boto3==1.35.10
certifi >= 14.05.14
chardet >= 4.0.0
crypto
cryptography==43.0.0
docker==7.1.0
flaky==3.8.1
flask
idna >= 2.10
jsonschema<5.0
minio==7.2.8
msgpack >= 1.0
opensearch-py >= 2.0.0, < 3.0.0
pluggy==1.5.0
pymongo==4.8.0
pytest-ordering==0.6
pytest==8.3.2
pyyaml
redis==5.0.8
redo==3.0.0
requests==2.32.3
semver==3.0.2
stripe
tornado
twisted
tz
urllib3<3
websocket_client >= 0.57
