attrs==24.2.0
azure-iot-hub==2.6.1
boto3==1.35.71
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
cryptography==44.0.0
docker==7.1.0
execnet==2.1.1
filelock==3.16.1
idna==3.10
iniconfig==2.0.0
kubernetes==31.0.0
packaging==24.2
Pillow==11.0.0
pluggy==1.5.0
py==1.11.0
pycparser==2.22
pymongo==4.10.1
pyotp==2.9.0
pyparsing==3.2.0
pytest==8.3.4
pytest-forked==1.6.0
pytest-html==4.1.1
pytest-httpserver==1.1.0
pytest-metadata==3.1.1
pytest-xdist==3.6.1
PyYAML==6.0.2
pyzbar==0.1.9
redo==3.0.0
requests==2.32.3
six==1.16.0
stripe==11.3.0
toml==0.10.2
trustme==1.2.0
urllib3==2.2.3
websockets==14.1
aiosmtpd==1.4.6
