bravado==9.2.2
boto3==1.34.101
crypto
cryptography==42.0.5
docker==7.0.0
flaky==3.8.1
flask
jsonschema<5.0
minio==7.2.5
pluggy==1.5.0
pymongo==4.6.3
pytest-ordering==0.6
pytest==8.1.1
pyyaml
redis==5.0.4
redo==2.0.4
requests
semver==3.0.2
stripe
tornado
twisted
tz
urllib3<3
